<h3 style="font-family: avenir-light" align='center'>Choose Your Role</h3>

<br>

<div align='center' style="font-family: avenir-light;">
  <small>Login</small>
</div>

<br>

<br>

<!-- Different options for logging in -->
<div align='center' style="padding-left: 7%; padding-right: 7%">
  <div class="row">
    <div class="col-md-4">
      <%= link_to image_tag("student.png", class: "img-responsive img-rounded img-thumbnail"), new_user_session_path %>
      <h4 style="font-family: avenir-light"><%= link_to "Student", new_user_session_path %></h4>
    </div>
    <div class="col-md-4">
      <%=  link_to image_tag("lecturer.png", class: "img-responsive img-rounded img-thumbnail"), new_referee_session_path %>
      <h4 style="font-family: avenir-light"><%= link_to "Referee", new_referee_session_path %></h4>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag("uni.png", class: "img-responsive img-rounded img-thumbnail"), new_college_session_path %>
      <h4 style="font-family: avenir-light"><%= link_to "College", new_college_session_path %></h4>
    </div>
  </div>
</div>
