

<%= form_for(@application, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  <div class="form-group">
          <div class="application-container">
            <h3 style="font-family:avenir-light; padding-left:15px">First Choice</h3>
            <div class="col-sm-6">
              <div class="search-box"></div>
              <input id="textbox1" type="text" placeholder="1st Course" class="form-control" style="width: 200px" />
            </div>
            <div class="col-sm-6">
              <%= select(:application, :course_ids, options_from_collection_for_select(Course.all.order(:title), :id, :list_name), {}, {:multiple => true, style: "height: 200px"}) %>
            </div>
          </div>
          <div class="application-container">
            <h3 style="font-family:avenir-light; padding-left:15px">Second Choice</h3>
            <div class="col-sm-6">
              <div class="search-box"></div>
              <input id="textbox2" type="text" placeholder="2nd Course" class="form-control" style="width: 200px" />
            </div>
            <div class="col-sm-6">
              <%= select(:application, :course_ids, options_from_collection_for_select(Course.all.order(:title), :id, :list_name), {}, {:multiple => true, :id => "application_course_ids_2", style: "height: 200px"}) %>
            </div>
          </div>
          <div class="application-container">
            <h3 style="font-family:avenir-light; padding-left:15px">Third Choice</h3>
            <div class="col-sm-6">
              <div class="search-box"></div>
              <input id="textbox3" type="text" placeholder="3rd Course" class="form-control" style="width: 200px" />
            </div>
            <div class="col-sm-6">
              <%= select(:application, :course_ids, options_from_collection_for_select(Course.all.order(:title), :id, :list_name), {}, {:multiple => true, :id => "application_course_ids_3", style: "height: 200px"}) %>
            </div>
          </div>
          <div class="application-container">
            <h3 style="font-family:avenir-light; padding-left:15px">Fourth Choice</h3>
            <div class="col-sm-6">
              <div class="search-box"></div>
              <input id="textbox4" type="text" placeholder="4th Course" class="form-control" style="width: 200px" />
            </div>
            <div class="col-sm-6">
              <%= select(:application, :course_ids, options_from_collection_for_select(Course.all.order(:title), :id, :list_name), {}, {:multiple => true, :id => "application_course_ids_4", style: "height: 200px"}) %>
            </div>
          </div>
          <div class="application-container">
            <h3 style="font-family:avenir-light; padding-left:15px">Fifth Choice</h3>
            <div class="col-sm-6">
              <div class="search-box"></div>
              <input id="textbox5" type="text" placeholder="5th Course" class="form-control" style="width: 200px" />
            </div>
            <div class="col-sm-6">
              <%= select(:application, :course_ids, options_from_collection_for_select(Course.all.order(:title), :id, :list_name), {}, {:multiple => true, :id => "application_course_ids_5", style: "height: 200px"}) %>
            </div>
          </div>

            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
            <script id="jsbin-javascript">

            jQuery.fn.filterByText = function(textbox, selectSingleMatch) {
                return this.each(function() {
                    var select = this;
                    var options = [];
                    $(select).find('option').each(function() {
                        options.push({value: $(this).val(), text: $(this).text()});
                    });
                    $(select).data('options', options);
                    $(textbox).bind('change keyup', function() {
                        var options = $(select).empty().data('options');
                        var search = $(this).val().trim();
                        var regex = new RegExp(search,"gi");

                        $.each(options, function(i) {
                            var option = options[i];
                            if(option.text.match(regex) !== null) {
                                $(select).append(
                                   $('<option>').text(option.text).val(option.value)
                                );
                            }
                        });
                        if (selectSingleMatch === true && $(select).children().length === 1) {
                            $(select).children().get(0).selected = true;
                        }
                    });
                });
            };

            $(function() {
                $('#application_course_ids').filterByText($('#textbox1'), false);
            });

            $(function() {
                $('#application_course_ids_2').filterByText($('#textbox2'), false);
            });

            $(function() {
                $('#application_course_ids_3').filterByText($('#textbox3'), false);
            });

            $(function() {
                $('#application_course_ids_4').filterByText($('#textbox4'), false);
            });

            $(function() {
                $('#application_course_ids_5').filterByText($('#textbox5'), false);
            });
        </script>

  </div>

  <br>
  <hr>

  <% if current_user.has_paid %>
  <div class="form-group"
      <div align='center'>
          <%= f.submit "Apply", class: 'btn btn-success btn-lg', style: "width:200px"%>
      </div>
  </div>
  <% else %>
  <div class="form-group">
    <div align='center'>
      <%= link_to "Make Payment", new_order_path, class: "btn btn-success btn-lg", style: "width:200px" %>
    </div>
  </div>
  <% end %>
  <br>
  <div align='center'>
      [ <%= link_to "Cancel", courses_path %> ]
  </div>
<% end %>
