<h1 align='center'>
  <%= @user.forename %>'s Application
</h1>

<br>
<br>

<h4 align='center'>You applied to: </h4>
<br>
<% @courses.each do |course| %>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="well well-sm">
                <div align='center'>
                    <h4><%= link_to course.title, course_path(course) %></h4>
                    <small><%= link_to course.college.name, college_path(course.college)%></small>
                    <br>
                    <br>
                    <p>Categories: <%= render course.categories if course.categories.any?%></p>
                    <!-- Display offers for the applied course if available -->
                    <% if course.course_applications %>
                      <% @user_course_application = course.course_applications.where(:application_id == @user.application.id).first %>
                      <% if @user_course_application.offer %>
                        <%= link_to "You have an offer", user_offers_path, class: "label label-success" %>
                      <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>
