<h1 align='center'>
  <%= @user.forename %>'s Application
</h1>

<br>
<br>

<% if @user.has_accepted_offer %>
<div class="content-container">
  <h3>
    Congratulations!
  </h3>
  <p>
    You have accepted the following offer
  </p>
  <% @accepted_course_application.each do |app| %>
    <%= app.offer.details %>
  <% end %>
</div>

<% else %>
<h4 align='center'>You applied to: </h4>
<br>
<% @courses.each do |course| %>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="well well-sm">
                <div align='center'>
                  <%= gravatar_for(course.college) %>
                    <h4><%= link_to course.title, course_path(course) %></h4>
                    <small><%= link_to course.college.name, college_path(course.college)%></small>
                    <br>
                    <br>
                    <p>Categories: <%= render course.categories if course.categories.any?%></p>
                    <!-- Display offers for the applied course if available -->
                    <% if course.course_applications %>
                      <% @user_course_application = course.course_applications.where(application_id: @user.application.id).first %>
                      <% if @user_course_application.offer %>
                      <% if @user_course_application.offer.status == "Declined" %>
                        <p class="label label-warning">You rejected an offer for this course</p>
                        <% else %>
                        <%= link_to "You have an offer", user_offers_path, class: "label label-success" %>
                      <% end %>
                      <% end %>
                      <% if @user_course_application.status == "rejected" %>
                        <p class="label label-danger">Rejected</p>
                      <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>
<% end %>
