<h1 align='center'><%= @user.forename %>'s Account</h1>

<ul>
    <li><%= @user.email %></li>
    <li><%= @user.forename %></li>
    <li><%= @user.surname %></li>
    <li><%= @user.phone_no %></li>
    <li><%= @user.term_address %></li>
    <li><%= @user.term_postcode %></li>
    <li><%= @user.perm_address %></li>
    <li><%= @user.term_postcode %></li>
    <li><%= @user.personal_statement %></li>
    <li><%= @user.highest_qualification_level %></li>
    <li><%= @user.highest_qualification_institution %></li>
</ul>
