<h1 align='center'>My Offers</h1>
<br>
<br>

<div align='center'>
  <div class="well well-sm" style="width: 50%">
    <% @course_applications.each do |app| %>
      <% if app.status == "rejected" %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Your application to study <%= link_to app.course.title, course_path(app.course) %> at <%= link_to app.course.college.name, college_path(app.course.college) %> was rejected
      </div>
      <% end %>
      <% if app.offer && app.offer.status != "Declined" %>
        From: <%= link_to app.offer.college.name, college_path(app.offer.college) %> <br>
        To Study: <%= link_to app.course.title, course_path(app.course) %> <br>
        Offer Type: <%= app.offer.offer_type %> <br>
        Offer Details: <%= app.offer.details %>

        <br>
        <br>

        <% if app.offer.status != "Accepted" %>
          <%= link_to "Accept", accept_offer_path(:offer => app.offer.id), class: "btn btn-primary btn-xs" %> |
          <%= link_to "Decline", decline_offer_path(:offer => app.offer.id), class: "btn btn-danger btn-xs" %>
          <% else %>
          <span class="label label-danger">You have already accepted an offer</span>
        <% end %>

      <% end %>
    <% end %>
  </div>
  <hr>
</div>
