<h3 class="subheading">My Applications</h3>
<br>
<div class="content-container">
  <% @users.each do |user| %>
    <% @application = user.application %>

    <% if @application %>
      <% if !@application.referred %>
      <strong>Student: </strong><%= link_to "#{user.forename} #{user.surname}", user_path(user)%> <br>
      <strong>Student ID: </strong><%= user.id %> <br>
      <strong>Student Email: </strong><%= user.email %> <br>

      <br>
      <br>

      <% @course_applications = @application.course_applications %>
      <table class="table">
        <thead>
          <tr>
            <th>Course</th>
            <th>College</th>
          </tr>
        </thead>
        <tbody>
          <% @course_applications.each do |app| %>
            <tr>
              <td><%= link_to "#{app.course.title}", course_path(app.course)%></th>
              <td><%= link_to "#{app.course.college.name}", college_path(app.course.college)%></th>
            </tr>
          <% end %>
        </tbody>
      </table>

        <%= link_to "Add Reference", new_reference_path(:application => user.application), class: "btn btn-success" %>

        <br>
        <hr>

      <% end %>
    <% end %>
  <% end %>

</div>
