<br>

<h3 class="subheading"><%= @offer.course_application.application.user.forename %>'s Offer</h3>

<br>

<!-- Showing the details of an offer -->

<div class="content-container">
  <strong>Student: </strong> <%= link_to @offer.course_application.application.user.forename, user_path(@offer.course_application.application.user) %>  <%= link_to @offer.course_application.application.user.surname, user_path(@offer.course_application.application.user) %>
  <br>
  <strong>Course: </strong> <%= link_to @offer.course_application.course.title, course_path(@offer.course_application.course) %>
  <br>
  <strong>College: </strong> <%= link_to @offer.course_application.course.college.name, college_path(@offer.course_application.course.college) %>
  <br>
  <br>
  <strong>Offer type: </strong><%= @offer.offer_type %>
  <br>
  <strong>Details: </strong><%= @offer.details %>
  <br>
  <strong>Status: </strong> <%= @offer.status %>
</div>
