<div align='center'>
  <h1>Applications</h1>
  <hr>

  <!-- For each course application attached to the current college do the following --->
  <% @college_course_applications.each do |app| %>
    <% if !app.offer %>
      <!-- Finding the course of the the current course application -->
      <% @course = @courses.find(app.course_id) %>

      <!-- Displaying the course title, linking to the course page -->
      Course: <%= link_to "#{@course.title}", course_path(@course) %>

      <!-- Finding the application object attached to the course application -->
      <% @application = @applications.find(app.application_id) %>

      <br>

      <!-- Finding the user object attached to the application -->
      <% @user = @users.find(@application.user_id) %>

      <!-- Displaying the id of the attached student -->
      Student Id: <%= @user.id %>

      <br>

      <!-- Displaying the email of the student -->
      Student Email: <%= link_to "#{@user.email}", user_path(@user) %>

      <br>
      <br>

      <%= link_to "Make Offer", new_offer_path(:course_application => app.id), class: "btn btn-sm btn-primary" %>
      <%= link_to "Decline", root_path, class: "btn btn-sm btn-danger" %>

      <hr>
    <% end %>
  <% end %>
</div>
