<%= render 'college_header' %>
<br>
<h3 class="subheading">All Offers</h3>
<br>

<!--  List all offers made by the signed in college -->

<!-- If no offers have been made, display a warning -->
<div class="content-container">
  <% if @offers.count == 0 %>
  <div class="content-container">
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      You have not made any offers yet
    </div>
  </div>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>Student</th>
        <th>Course</th>
        <th>Offer</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= link_to "#{offer.course_application.application.user.forename} #{offer.course_application.application.user.surname}", user_path(offer.course_application.application.user)%></td>
          <td><%= link_to "#{offer.course_application.course.title}", course_path(offer.course_application.course)%></td>
          <td><%= offer.offer_type %></td>
          <td>
            <% if offer.status == "Declined" %>
              <p class="label label-danger"><%= offer.status %></p>
              <% else %>
              <%= offer.status %>
            <% end %>

          </td>
          <td><%= link_to "View", offer_path(offer), class: "btn btn-xs btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to "View PDF", college_offers_path(:format => :pdf), class: "btn btn-default btn-sm" %>
</div>
