<%= render 'college_header' %>

<h3 class="subheading">All Courses</h3>

<br>

<div class="content-container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Categories</th>
        <th>Applications</th>
        <th>Offers</th>
      </tr>
    </thead>
      <tbody>
        <% @college_courses.each do |course| %>
          <tr>
            <td><%= link_to "#{course.title}", course_path(course) %></td>
            <td>
              <% course.categories.each do |cat| %>
                <%= link_to cat.name, category_path(cat) %>
              <% end %>
            </td>
            <td>
              <% @counter = 0 %>
              <% @course_applications = course.course_applications %>
              <% @course_applications.each do |app| %>
                <% if app.referred && !app.offer%>
                  <% @counter = @counter + 1 %>
                <% end %>
              <% end %>
              <%= link_to @counter, {:controller => "courses", :action => "course_applications", :course => course.id } %>
            </td>
            <td>
              <% @offer_counter = 0 %>
              <% @course_applications.each do |app| %>
                <% if app.offer %>
                  <% @offer_counter = @offer_counter + 1 %>
                <% end %>
              <% end %>
              <%= link_to @offer_counter, {:controller => "courses", :action => "course_offers", :course => course.id } %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
