<%= render 'college_header' %>

<h3 class="subheading">All Applications</h3>

<br>

<!-- List all applications made to courses belonging to the current_college -->

<div class="content-container">
  <table class="table">
    <thead>
      <tr>
        <th>Course</th>
        <th>Forename</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- For each course application attached to the current college do the following --->
      <% @college_course_applications.each do |app| %>
        <% if !app.offer && app.application.referred && app.status != "rejected"%>
          <!-- Finding the course of the the current course application -->
          <% @course = @courses.find(app.course_id) %>
          <!-- Displaying the course title, linking to the course page -->
          <tr>
            <td>
              <%= link_to "#{@course.title}", course_path(@course) %>
            </td>
            <td>
              <!-- Finding the application object attached to the course application -->
              <% @application = @applications.find(app.application_id) %>
             <!-- Finding the user object attached to the application -->
             <% @user = @users.find(@application.user_id) %>
             <!-- Displaying the names of the attached student -->
             <%= @user.forename %> <br>
            </td>
            <td>
              <%= @user.surname %>
            </td>
            <td>
              <!-- Displaying the email of the student -->
              <%= link_to "#{@user.email}", user_path(@user) %>
            </td>
            <td>
              <%= link_to "View", {:controller => "applications", :action => "course_application_show", :course => app.course.id, :user => @user }, class: "btn btn-primary btn-xs" %> |
              <%= link_to "Make Offer", new_offer_path(:course_application => app.id), class: "btn btn-xs btn-success" %> |
              <%= link_to "Decline", reject_application_path(:course_application => app.id), class: "btn btn-xs btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "View PDF", college_applications_path(:format => :pdf), class: "btn btn-default btn-sm" %>
</div>

<br>
