<h1 align='center'>Colleges</h1>

<br>

<hr>

<% if @colleges.any? %>
<div align='center'>
  <%= form_tag(colleges_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Colleges" %>
  <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
  <% end %>
  
  <% if !(@colleges.present?) %>
    <p>There are no colleges containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</div>
<% else %>
  <h3 align='center'>There are currently no colleges available</h3>
<% end %>

<% @colleges.each do |college| %>
    <ul>
        <li>
            <%= link_to college.name, college_path(college)%>
        </li>
    </ul>
<% end %>
