<%= render 'college_header' %>

<!-- Display details of a college -->

<div class="subheading">
  <h3>Details</h3>
</div>

<div class="content-container">
  <strong>Email: </strong> <%= @college.email %> <br>
  <strong>Phone: </strong> <%= @college.phone_no %> <br>
  <strong>Address: </strong> <%= @college.address %> <br>
  <br>
  <%= @college.description %>
</div>

<br>

<div class="subheading">
  <h3>Course List</h3>
</div>

<div class="content-container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Categories</th>
      </tr>
    </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.title, course_path(course)%></td>
            <td><%= truncate(course.description, length: 200) %></td>
            <td>
              <% course.categories.each do |cat| %>
                <%= cat.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
