<h3 class='subheading'><%= @course.title %> Applications</h3>

<br>

<!-- A table of applications to a particular course -->

<div class="content-container">
  <table class="table">
  <thead>
    <tr>
      <td>Email</td>
      <td>Forename</td>
      <td>Surname</td>
      <td>Reference</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @course_applications.each do |application| %>
    <!-- If the application has been referred and the status isn't rejected, display the list of applications -->
      <% if application.application.referred && application.status != "rejected"%>
        <% @app_result = application.application %>
        <% @student = @app_result.user %>
        <tr>
          <td><%= @student.email %></td>
          <td><%= @student.forename %></td>
          <td><%= @student.surname %></td>
          <td><%= @student.application.reference.body %></td>
          <td>
            <%= link_to "View", {:controller => "applications", :action => "course_application_show", :course => application.course.id, :user => @student }, class: "btn btn-primary btn-xs" %> |
            <%= link_to "Make Offer", new_offer_path(:course_application => application.id), class: "btn btn-xs btn-success" %> |
            <%= link_to "Decline", reject_application_path(:course_application => application.id), class: "btn btn-xs btn-danger" %>
          </td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>
</div>
