<br>

<h3 class="subheading"><%= @course.title %>'s Offers</h3>

<br>

<br>

<!-- List of offers for a particular course -->

<div class="content-container">
  <table class="table">
    <thead>
      <tr>
        <th>Student</th>
        <th>Offer</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= link_to "#{offer.course_application.application.user.forename} #{offer.course_application.application.user.surname}", user_path(offer.course_application.application.user)%></td>
          <td><%= offer.offer_type %></td>
          <td><%= offer.status %></td>
          <td><%= link_to "View", offer_path(offer), class: "btn btn-xs btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "View PDF", {:controller => "courses", :action => "course_offers", :course => course.id }, (:format => :pdf), class: "btn btn-default btn-sm" %>
