<h1 align='center'>
    Courses
</h1>

<br>

<div align='center'>
  <%= form_tag(courses_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Courses" %>
  <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
  <% end %>

  <% if !(@courses.present?) %>
    <p>There are no courses containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</div>


<% if college_signed_in? %>
    <p align='center'><%= link_to "Create new course", new_course_path, class: "btn btn-sm btn-primary" %></p>
<% end %>
<hr>

<% @courses.each do |course| %>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="well well-sm">
                <div align='center'>
                    <h4><%= link_to course.title, course_path(course) %></h4>
                    <small><%= link_to course.college.name, college_path(course.college)%></small>
                    <br>
                    <br>
                    <p>Categories: <%= render course.categories if course.categories.any?%></p>
                    <% if current_college == course.college %>
                        <div class="course-actions">
                            <%= link_to "Edit", edit_course_path(course), class: 'btn btn-xs btn-primary' %>
                            <%= link_to "Delete", course_path(course), method: :delete,
                                            data: {confirm: 'Are you sure you want to delete the course?'},
                                            class: 'btn btn-xs btn-danger' %>
                        </div>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
<% end %>
