<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.svg", class: "navbar-brand"), root_path %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li style="padding-right: 300px;"><%= link_to "Future Prospects", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Courses", courses_path%></li>
        <li><%= link_to "Colleges", colleges_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
        <% if staff_signed_in? %>
            <li><%= link_to "Students", users_path%></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? && !(current_user.applied == true)%>
          <li style="padding-right: 10px"><button type="button" class="btn btn-warning navbar-btn" ><%= link_to "Apply Now", new_application_path%></button></li>
        <% end %>
        <% if !user_signed_in? && !staff_signed_in? && !college_signed_in? %>
            <li><%= link_to "Login", login_choice_path%></li>
            <li><%= link_to "Register", register_choice_path %></li>
        <% else %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <% end %>

        <% if user_signed_in? || staff_signed_in? || college_signed_in? %>
        <li class="dropdown">
            <% if user_signed_in? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Student Account <span class="caret"></span></a>
            <% end %>
            <% if staff_signed_in? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Staff Account <span class="caret"></span></a>
            <% end %>
            <% if college_signed_in? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My College Account <span class="caret"></span></a>
            <% end %>

          <ul class="dropdown-menu">
            <% if user_signed_in? && current_user.application.present? %>
              <li><%= link_to "My Application", application_path(current_user.application) %></li>
              <li><%= link_to "My Offers", user_offers_path %></li>
            <% end %>
            <% if user_signed_in? %>
              <li><%= link_to "Edit Account", edit_user_registration_path(current_user)%></li>
            <% end %>
            <% if college_signed_in? %>
            <li><%= link_to "View All Applications", college_applications_path %></li>
            <li><%= link_to "View All Offers", college_offers_path %></li>
            <li><%= link_to "My Courses", college_courses_path %></li>
            <li><%= link_to "Edit Account", edit_college_registration_path(current_college) %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <% if staff_signed_in? %>
                <li><%= link_to "My Account", staff_path(current_staff)%></li>
            <% end %>
            <% if user_signed_in? %>
                <li><%= link_to "My Account", user_path(current_user)%></li>
            <% end %>
            <% if college_signed_in? %>
                <li><%= link_to "My Account", college_path(current_college)%></li>
            <% end %>
          </ul>

        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
