<!DOCTYPE html>
<html>
<head>
  <title>FutureProspects</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.steps' %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #F2F2F2">

<%= render 'layouts/navbar' %>
<div style="padding-top:70px">
  <%= flash_messages %>
</div>

  <% if current_page?(root_path) || current_page?(about_path)%>
    <%= yield %>
  <% else %>
    <div class="body-container">
      <%= yield %>
    </div>
  <% end %>

  <%= render 'layouts/footer' %>

</body>
</html>
